<p>Hola <%= @resource.email %>!</p>
<p>
  Alguien ha pedido cambiar tu contraseña. Puedes hacerlo haciendo click en el siguiente link.
</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no pediste esto, por favor ignora este email.</p>
<p>Tu password no va a cambiar hasta que hagas click en el link y crees una nueva.</p>
