
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h1>Mi perfil</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= render 'profile/info' %>
      <%= link_to "Editar perfil", edit_worker_registration_path %>
    </div>
  </div>
</div>
