<footer class="footer">
  <nav>
    <small>
      <ul>
        <li><%= link_to "Términos y condiciones", terms_path %></li>
        <li><%= link_to "Preguntas frecuentes", help_path %></li>
        <li><%= link_to "Contacto", contact_path %></li>
      </ul>
    </small>
  </nav>
</footer>
