<li class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-user" data-toggle="dropdown"
  aria-haspopup="true" aria-expanded="true">Mi cuenta
  <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdown-user">
    <li><%= link_to "Mi perfil", worker_root_path %></li>
    <li><%= link_to "Editar cuenta", edit_worker_registration_path %></li>
    <li><%= link_to "Mis trabajos", '#' %></li>
    <li><%= link_to "Cerrar sesión", destroy_worker_session_path, method: :delete %></li>
  </ul>
</li>
